:root {
  --default-background: #222;
  --primary-color: #6e005f;
  --primary-color-hover: #630b57;
  --detail-color: #4b4b4b;
  --text-color: #e8dcca;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", 'Times New Roman';
}
